# Parcel cache
.cache

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Dependency directories
/node_modules

# Yarn Integrity file
.yarn-integrity

# Optional eslint cache
.eslintcache

#Build generated
dist/
build/

# Jest test reports Folder
src/tests-reports/*